/* responsive.css */
.grid-container {
	display: grid;
	gap: 16px;
	padding: 60px;
	color: #345541;
}

.image-style {
	width: 100%; /* Adjust image width to fit the container */
	height: auto; /* Maintain aspect ratio */
	margin-top: 16px; /* Space between the image and the text */
	border-radius: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 80px 0px 60px;
}

.process-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
	padding: 80px 40px 60px;
}

.text-content {
	flex: 3;
	padding-right: 20px;
}

.image-content {
	flex: 1;
	text-align: right;
}

.process-image-content {
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

.image-content img {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border-radius: 50%;
}

.process-image-content img {
	width: 240px;
	height: 540px;
	object-fit: cover;
}

.promise-container {
	display: flex;
	align-items: center;
	padding: 20px 100px 60px;
	width: 92%;
}

.promise-image {
	/* flex: 1; */
	margin-right: 40px;
}

.promise-image img {
	height: 240px;
	object-fit: cover;
	object-position: center; /* Center the image */
	border-radius: 50%;
}

.promise-text {
	flex: 3;
	padding-left: 0;
	text-align: right;
	padding-bottom: 60px;
}

.welcome-section {
	position: relative;
	height: 900px;
	background: linear-gradient(180deg, #1992d4, #b3ecff);
	font-size: 20px;
	font-weight: 500;
}

.free-consultation {
	padding: 1rem 2rem;
	font-size: 1rem;
	background-color: #5d55fa;
	border: none;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
}

.journey-cta {
	position: absolute;
	left: 50%;
	top: 900px;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 240px;
	background-color: #243b53;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	text-aign: center;
	font-size: 1.2rem;
}

@media (max-width: 1024px) {
	.process-container {
		flex-direction: column;
		align-items: center;
		padding: 24px;
		width: 100%;
	}

	.process-image-content {
		padding-right: 0;
		margin-bottom: 16px;
	}

	.process-image-content img {
		width: 100%;
		height: 240px;
		object-fit: cover;
	}

	.promise-container {
		flex-direction: column;
		padding: 20px 20px 60px 100px;
	}

	.promise-text {
		text-align: center;
	}

	.text-content {
		text-align: center;
	}

	.container {
		flex-direction: column-reverse;
		padding: 32px;
	}

	.welcome-section {
		height: 1200px;
	}

	.journey-cta {
		top: 1200px;
		width: 90%;
		text-align: center;
	}
}

@media (max-width: 880px) {
	.welcome-section {
		height: 1400px;
	}

	.journey-cta {
		top: 1400px;
		height: 280px;
	}
	.promise-container {
		flex-direction: column;
		padding: 20px 20px 60px 40px;
	}
}

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.content-width {
		width: 60%;
		margin-left: 10%;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 20px;
	}
}

@media (max-width: 767px) {
	.grid-container {
		grid-template-columns: 1fr;
		padding: 24px;
	}

	.content-width {
		width: 90%;
		margin-left: 4%;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 24px;
	}
}

@media (max-width: 700px) {
	.welcome-section {
		height: 1400px;
	}

	.journey-cta {
		top: 1400px;
	}
}

@media (max-width: 616px) {
	.welcome-section {
		padding: 4px;
		height: 1600px;
	}

	.journey-cta {
		top: 1600px;
	}
}

@media (max-width: 440px) {
	.welcome-section {
		padding: 4px;
		height: 2000px;
	}

	.journey-cta {
		top: 2000px;
		width: 100%;
	}
}
