.contact-form-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 60px 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #102a43;
}

.contact-form-container p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #627d98;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a627a;
}

@media (max-width: 1024px) {
  .contact-form-container {
    max-width: 100%;
  }
}
